<!----------------------------------------------------------------------------------------->
<!----------------------------Esau Maldonado Aguiar 301267933------------------------------>
<!----------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-footer.css">
  <link rel="stylesheet" href="/css/style-nav.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">

</head>
<body>
  <%- include('partials/navbar') %>
  <div id="about-content">
    <div id="about-image">
      <img src="/images/me2.png" alt="Your Name" id="profile-image">
    </div>

    <div id="about-presentation">
      <h2>So, who am I?</h2>
      <p>Hey there, I'm Esau Maldonado Aguiar, currently diving into software engineering at Centennial College in Canada. 
        With a background in mechatronic engineering, I'm captivated by the magic of coding — 
        the power to create something incredible from just a few (or many) lines.</p>

      <p>Studying in Canada has broadened my perspective, exposing me to diverse tech environments. 
        I'm not just after a job; I'm on the lookout for opportunities that challenge and inspire. 
        Whether it's coding or collaborating in a dynamic team, I'm ready to contribute.</p>

      <p>Thanks for getting to know a bit about me. I'm eager to connect with like-minded folks who share a 
        passion for the endless possibilities in the tech world.
      </p>
      
      <p><a href="/resume.pdf" target="_blank">View my Resume (PDF)</a></p>
    </div>
  </div>  <%- include('partials/footer') %>

</body>
</html>
