<!----------------------------------------------------------------------------------------->
<!----------------------------Esau Maldonado Aguiar 301267933------------------------------>
<!----------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-footer.css">
  <link rel="stylesheet" href="/css/style-nav.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <div id="main-content">
    <div id="text-container">
      <h1>Welcome to My Portfolio</h1>
      <p>
        Thank you for visiting! I am passionate about Software and robotics and this is my portfolio projet. 
        Explore my projects, learn more about me, and <a  href="/about" style="text-decoration:none; color:blue; font-size: inherit;">Click here</a> to discover who I am.
        Join me on this journey.
      </p>
         
      <h2>Mission Statement</h2>
    <p>
      My personal mission is to have a quiet life, to get a good job in a large company after finishing my studies in Canada.    
    </p>
    <p style="padding-top: 5%; padding-left: 3%;"> One of my favorite quotes is:</p>
    <blockquote>
        <i> The truth will set you free, but first it will make you miserable!!</i></br>
        **James A. Garfield**
   </blockquote>
    </div>
    <div id="image-container">
      <img src="/images/me.png" alt="Your Name" id="profile-image">
    </div>
  </div>

  <!-- Your home content goes here -->
  <%- include('partials/footer') %>

</body>
</html>
