<!----------------------------------------------------------------------------------------->
<!----------------------------Esau Maldonado Aguiar 301267933------------------------------>
<!----------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-footer.css">
  <link rel="stylesheet" href="/css/style-nav.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">

</head>
<body>
  <%- include('partials/navbar') %>
  <div>
    <p class="text-projects">The following projects that I present were the ones that 
      have generated the most impact on me due to their degree of complexity and the satisfaction of the result.</p>
  </div>
  <div id="projects-container">
    <!-- GyroLED Project -->
    <div class="project-card">
      <div class="project-image">
        <img src="/images/gyroled.jpg" alt="GyroLED Project">
      </div>
      <div class="project-info">
        <h2>GyroLED Project</h2>
        <p>
          A small fan with a strip of LEDs and a tiny switch, each time the blades pass through the switch the LEDs light up in a certain 
          sequence to generate any message, the beauty of the project was to calculate and encode that 
          sequence at the precise moment since the blades rotate at a very high speed
          My role: Hardware and Software Engineer
          Outcome: Implemented a robust system with precise sensing capabilities.
        </p>
      </div>
    </div>

    <!-- Robotic Arm Project -->
    <div class="project-card">
      <div class="project-image">
        <img src="/images/robotic_arm.jpg" alt="Robotic Arm Project">
      </div>
      <div class="project-info">
        <h2>Robotic Arm Project</h2>
        <p>
          A robotic arm to be able to move objects from point A to B using servomotors with multiple degrees 
          of freedom and controllers in C# code
          My role: Mechanical and Control Systems Engineer
          Outcome: Successfully created a versatile robotic arm for various applications.
        </p>
      </div>
    </div>

    <!-- First Centennial HTML Project -->
    <div class="project-card">
      <div class="project-image">
        <img src="/images/centennial_project.jpg" alt="First Centennial HTML Project">
      </div>
      <div class="project-info">
        <h2>First Centennial HTML Project</h2>
        <p>
          Created my first website using HTML during my first web design class.
          The project was very exciting since it was the first time I used HTML.
          My role: Web Developer
          Outcome: Launched a simple and engaging website for the Centennial.
        </p>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
