<!----------------------------------------------------------------------------------------->
<!----------------------------Esau Maldonado Aguiar 301267933------------------------------>
<!----------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-footer.css">
  <link rel="stylesheet" href="/css/style-nav.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">

</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Welcome to My services</h1>
  <!-- Your home content goes here -->
  <%- include('partials/footer') %>

</body>
</html>
